.cube-canvas {
    width: 100%;
    height: 100%;
    display: block;
}

.cube-controller {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    bottom: 5px;
    width: 100%;
    .cube-images {
        display: flex;
        justify-content: center;
        .cube-image {
            width: 70px;
            height: 70px;
            margin: 5px;
        }
    }
    
    .cube-text {
        color: white;
    }
    a {
        color: white;
    }
}

